header.header {
  background: var(--blue);
  padding-top: 2rem;
  
  > div {
    max-width: 1120px;
    margin: 0 auto;

    padding: 2rem 1rem 12rem;

    display: flex;
    align-items: center;
    justify-content: center;

    img{
      max-width: 240px;
      max-height: 100%;
    }
  }

}
@media only screen and (max-width: 720px){
  header.header{
    padding-top: 0rem;
    
    > div{
      padding: 1rem 1rem 12rem;

      img{
        max-width: 170px;
      }
    }
  }
  
}
